# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dosmpoc_scraper_malaysianow.settings

[deploy]
#url = http://localhost:6800/
project = dosmpoc_scraper_malaysianow
